
// COLORS ================================
$white: #fff;
$black: #000624;
$dark-gray:#acafc4;
$gray: #ECECEC;
$light-gray: #FAFAFA;
$green: #3d9fa1;;
$--wsr-color-D60: #dfe5eb;

// Transition ==============================

$smooth:all 300ms ease-in-out;
$fast:all 200ms ease-in-out;
$slow:all 600ms ease-in-out;



