@import './variable.scss';

.loading{
    display: flex;
    // justify-content: center;
    align-items: center;
    // margin-top: 4rem;
    flex-direction: column;
    color: $dark-gray;

    img{
        width: 300px;
    }

}