.toggle {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #999;
    background-color: white;
    // position: fixed;
    // top: 10px;
    // right: 10px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}

.toggle-icon {
    /* cursor: pointer; */
    /* margin: 3px; */
    width: 15px;
    height: 15px;
}

.toggle-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    transition: all 500ms ease-in-out;
    
    left: 0;
}